<table class="table-responsive">
    <tr>
        <td>
            <input type="hidden" name="id" id="idget" /> 
        </td>
    </tr>
    <tr>
        <td>
            <span class="glyphicon glyphicon-trash"  style="font-size:70px;"></span>
        </td>
        <td align="center">
            <label class="merahtext" style="font-size:17px;">&nbsp;&nbsp;&nbsp;&nbsp;Anda yakin ingin menghapus pengalaman di <br />
                <input type="text" readonly class="merahtext" style="border:0px; width:400px; text-align:center; font-size:20px;" id="idLblNamaPerusahaan" />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td align="right" colspan="3">
            <button type="button" class="btn orenwoy" id="idBtnCancelPekerjaan">Tidak</button>
            <button type="button" class="btn merahwoy" id="idBtnHapusPekerjaan">&nbsp;&nbsp;&nbsp;Ya&nbsp;&nbsp;&nbsp;</button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Pekerjaan/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idLblNamaPerusahaan').val(mdl.company_name + ' ?');
            }
        });
    });

    $('#idBtnCancelPekerjaan').click(function () {
        $('#idMdlHapusPekerjaan').close;
        location.reload();
    });

    $('#idBtnHapusPekerjaan').click(function () {
        var vDataID = $('#idget').val();
        debugger;
        //var r = confirm("Anda Yakin Ingin Menghapus Data ??");
        //if (r == true) {
            $.ajax({
                url: '/Pekerjaan/Delete',
                data: { ID: vDataID },
                method: 'Post',
                success: function (mdl) {
                    alert('Berhasil Menghapus Data');
                    location.reload();
                    debugger;
                },
                error: function (mdl) {
                    debugger;
                }
            });
        //}
    });
</script>