/* */
.btn-add
{
    border-radius:50%;
    height: 20px;
    width:20px;
    color:white;
    background-color:black;
    border-color:black;
    margin-bottom:0.5%;
    padding-left:4px;
    padding-top:0.5px;
}
.font-clr
{
    color:#000080;
    margin-left:0;
}
.ttl
{
    font-weight:bold;
}

.bdr-th
{
    border-color: #000080;
    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right-width:0;
    border-left-width:0;
    color:#000080; 
    height:60px;
}

/*--------- change strip colour --------------------*/
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th 
{
   background-color: #f0f5f5;
}
/*--------- change strip colour --------------------*/

td
{
    border-color: #000080;
    border-style: solid;
    border-bottom-width: 2px;
    border-right-width:0;
    border-left-width:0;
}