<style type="text/css">
    [data-validation-message] {
        display: none;
        color: red;
        font-weight: bold;
    }

        [data-validation-message].message-visible {
            display: block;
        }

    .blueborder {
        border-color: blue;
    }

        .blueborder.invalid {
            border-color: red;
        }
</style>

<form action="" method="post" id="idFrmEditProyek">
    <input type="hidden" id="idget" name="id" />
    <table class="table">
        <tr>
            <td width="380px">
                <label>Waktu Mulai Proyek*</label>
                <select class="form-control  blueborder" name="start_month" data-validate="required" id="idWaktuMulai">
                    <option value="">-Pilih Bulan-</option>
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                </select>
                <small role="alert"
                       aria-hidden="true"
                       data-validation-message="required">
                    Bulan Mulai Harus Diisi.
                </small>
            </td>
            <td>
                <label>&nbsp;</label>
                <select class="form-control  blueborder" name="start_year" data-validate="required" id="idTahunMulai">
                    <option value="">-Pilih Tahun-</option>
                </select>
                <small role="alert"
                       aria-hidden="true"
                       data-validation-message="required">
                    Tahun Mulai Harus Diisi.
                </small>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Nama Proyek*</label>
                <input type="text" class="form-control blueborder" name="project_name" data-validate="required" id="idInpNamaProyek" />
                <small role="alert"
                       aria-hidden="true"
                       data-validation-message="required">
                    Nama Proyek Harus Diisi.
                </small>
            </td>
        </tr>
        <tr>
            <td>
                <label>Lama Pengerjaan</label>
                <input type="text" class="form-control blueborder" name="project_duration" id="idInpLamaProyek" />
            </td>
            <td>
                <label>&nbsp;</label>
                <select class="form-control blueborder" name="time_period_id" id="idTimePeriod">
                    <option value="">-Pilih-</option>
                    <option value="1">Hari</option>
                    <option value="2">Minggu</option>
                    <option value="3">Bulan</option>
                    <option value="4">Tahun</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Klien</label>
                <input type="text" class="form-control blueborder" name="client" id="idInpClient" />
            </td>
            <td>
                <label>Posisi Ketika Proyek*</label>
                <input type="text" class="form-control blueborder" name="project_position" data-validate="required" id="idInpPosisi" />
                <small role="alert"
                       aria-hidden="true"
                       data-validation-message="required">
                    Posisi Ketika Proyek Harus Diisi.
                </small>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Keterangan</label>
                <textarea class="form-control blueborder" id="idDescription" name="description" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="button" class="btn orenwoy" id="idBtnCancelProyek">&nbsp;Batal&nbsp;</button>
                <button type="submit" class="btn biruwoy" id="idBtnSubmitProyek">Simpan</button>
            </td>
        </tr>
    </table>
</form>

<script>
    $(document).ready(function () {

        var d = new Date();
        var vOption = "";
        for (var i = d.getFullYear() ; i >= 1990; i--) {
            vOption = vOption +
            '<option>' + i + '</option>'
        }
        $('#idTahunMulai').append(vOption);


        $.ajax({
            url: '/Proyek/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idWaktuMulai').val(mdl.start_month).selected;
                $('#idTahunMulai').val(mdl.start_year).selected;
                $('#idInpNamaProyek').val(mdl.project_name);
                $('#idInpLamaProyek').val(mdl.project_duration);
                $('#idTimePeriod').val(mdl.time_period_id).selected;
                $('#idInpClient').val(mdl.client);
                $('#idInpPosisi').val(mdl.project_position);
                $('#idDescription').val(mdl.description);
            }
        });

    });

    function editproyek() {
        var vDataproyek = $('#idFrmEditProyek').serialize();
        $.ajax({
            url: '/Proyek/EditSimpan',
            data: vDataproyek,
            method: 'Post',
            success: function (mdl) {
                debugger;
                if (mdl.EditSimpan == "Berhasil") {
                    alert("Data berhasil disimpan");
                    //$('.modal').modal('hide');
                    //$.modal.close();
                    $('#idMdlEditKeahlian').close;
                    location.reload();
                }
                else {
                    debugger;
                    alert("Data gagal disimpan");
                }
            }
        });
    }

    $('#idBtnCancelProyek').click(function () {
        $('#idMdlCreateProyek').close;
        location.reload();
    });

</script>

<script>
// (1) Defining our validator-functions
//     for later use. They return
//     "true", if the validation passes.
const validators = {
  // Checks the field for emptiness.
    required: element => element.value.length > 0,

  // Checks if there are no numbers
  // in the field.
  noNumbers: element => !element.value.match(/[0-9]/g),

  // Checks if the value is shorter
  // than 10 characters.
  maxLength: element => element.value.length <= 10,

  // Checks if the checkbox is checked.
  mustBeChecked: element => element.checked
};

// (2) Check the contents of an input,
//     get all validators, and mark
//     the field in case of invalidity.
function validateElement(element) {
  resetValidation(element);

  // Store all validators from the
  // data-validate-attribute into
  // an array.
  const rules = element.dataset.validate.split(" ");

  // For every validator on the
  // field...
  rules.forEach(rule => {
    // ...find the corresponding
    // validator-function from our
    // object from #1 and call it
    // with the element as parameter.
    if (validators[rule](element)) {
      // If the function returns true, all is fine.
        debugger;
        return;
    } else {
      // If it returns false, the
      // validation failed.
      // In that case, the
      // markElementInvalid-function
      // takes care of showing the
      // error-message.
      markElementInvalid(element, rule);
    }
  });
}

// (3) Adds classes to an element,
//     so it appears invalid. Also
//     it picks the correct feedback-
//     message and sets it visible.
function markElementInvalid(element, validatorName) {
  element.classList.add("invalid");
  element.setAttribute("aria-invalid", true);
  const feedbackMessage = element.parentNode.querySelector(
    `[data-validation-message=${validatorName}]`
  );
  feedbackMessage.classList.add("message-visible");
  feedbackMessage.setAttribute("aria-hidden", false);
}

// (4) Removes all traces of
//     validation from an element,
//     like the error-messages and
//     the styling.
//     (Pretty much the opposite of #3)
function resetValidation(element) {
  element.classList.remove("invalid");
  element.setAttribute("aria-invalid", false);
  element.parentNode
    .querySelectorAll("[data-validation-message]")
    .forEach(e => {
      e.classList.remove("message-visible");
      e.setAttribute("aria-hidden", true);
    });
}

// (5) Store the form and its
//     inputs in variables.
const form = document.getElementById("idFrmEditProyek");
const formElements = Array.from(form.elements);

// (6) Every input gets an
//     event-listener attached.
formElements.forEach(formElement => {
  // Do nothing if the element has
  // no data-validate-attribute.
  if (!formElement.dataset) return;
  if (!formElement.dataset.validate) return;

  // Attach the blur-event-listener
  // to the element.
  formElement.addEventListener("", () => {
    // This means, validateElement will
    // be called everytime the element
    // loses focus.
    validateElement(formElement);
  });
});

// (7) We're doing what we did at #3,
//     only on form-submit, and for
//     every field.
form.addEventListener("submit", event => {
  // Let's assume, everything is fine.
  let formIsValid = true;
  form.classList.remove("invalid");

  // We'll check every field in the form.
  // (same as #3)
  formElements.forEach(formElement => {
    if (!formElement.dataset) return;
    if (!formElement.dataset.validate) return;
    validateElement(formElement);
  });

  // If there are any "invalid"-classes
  // after we checked all fields, the form
  // is invalid...
  formIsValid = form.querySelectorAll(".invalid").length === 0;

  // ...and will not be submitted.
  if (formIsValid === false) {
    form.classList.add("invalid");
    event.preventDefault();
  } else {
      debugger;
      editproyek();
  }
});
</script>
